/*= GENERAL STYLES
--------------------------------------------------------*/
body,html{
  height: 100%;
    background-color:#27ae60;
    background: linear-gradient(#27ae60, #16a085);
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding-top:70px;

overflow: hidden;
}

a {
  color: #444;
  font-weight: 400;
  text-decoration: none;
  font-size: 12px;
}

span {
    font-weight: 300;
    color: #f58220;
}


.mregister {
    margin: 80px auto 0;
}

.error {
    margin: 40px auto 0;
    border: 1px solid #000;
    padding: 3px;
    color: #fff;
    text-align: center;
    width: 650px;
    background: #f58220;
}

.regtext {
    font-size: 13px;
    margin-top: 26px;
    color: #000;
}

/*= CONTAINERS
--------------------------------------------------------*/
.container {
    padding: 25px 16px 25px 10px;
    overflow: hidden;
    width: 350px;
    height: auto;
    background: #FFF;
    border-color: #EFFF00;
    border-radius: 6px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.05);
    margin: 0px auto;
}

#welcome {
    width: 500px;
    padding: 30px;
    background: #fff;
    margin: 160px auto 0;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.container h1 {
    color: #000;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    margin-bottom: 30px;
}
.container .form-group{
  margin: 10px 0;
}
.container label {
    color: #444;
    display: block;
    margin:8px 0;
    font-size: 13.5px;
}

#login {
    width: 320px;
    margin: auto;
    padding-bottom: 15px;

    color background: #ABABAB;
    color: #000;
}

.container form .input,.container input[type=text],.container input[type=password],.container input[type=e] {
  background: transparent;
  font-size: 14px;
  line-height: 1;
  width: 100%;
  margin: 0 6px 5px 0;
  outline: none;
  border: 1px solid #dddd;
  padding: 15px;
  border-radius: 3px;
  box-sizing: border-box;
  color: #444;
}

.container form .input:focus {
    border: 1px solid #f58220;
    -webkit-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
}

/*= BUTTONS
--------------------------------------------------------*/

.button{
  border: none;
  background: #2c3e50;
  color: #fff;
  padding: 12px 40px;
  float: right;
  cursor: pointer;
  align-content: center;
  border-radius: 45px;
  font-weight: 600;
  font-family: 'IBM Plex Sans';
  letter-spacing: 0.5px;
  font-size: 13.5px;
}

.button:hover{
  background: #34495e;
}

/* FOOTER*/
footer {
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  display: block;
  bottom: 40px;
  position: absolute;
  width: 100%;
}
